* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    height: 80px;
    background: white;
    align-items: center;
    display:flex;
    background-color: #7349E0;
    justify-content: right;
    opacity:0.8;
    position:fixed;
    width:100%;
    top:0px;
    z-index:100;
}
#header .solid{
    opacity:1;
}
#header ul {
    display:flex;
    color: white;
    font-size: 20px;
    text-decoration: none;
    height: 100%;
    list-style: none;
    align-items: center;
    font-weight: bold;
    
}

#header a{
    font-weight: normal;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
}
#tab1 { letter-spacing:1px;visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab1 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all .7s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab2 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab2 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab3 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab3 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab4 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab4 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab5 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab5 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }

.project-block {
    border-bottom: 1px solid #646464; 
    width:100%;
    padding: 40px;
    display:flex;
    align-items: center;
    color: white;
    align-content: stretch;
    height: 600px;
}
.project-block h1{
    color: #7349E0;
    margin-bottom: 20px;
}


.project-desc {
    color: white;
}

.project-donate-but {
    background-color: #7349E0;
    width: 150px;
    padding:20px;
    text-align: center;
    color: white;
    text-decoration:none;
    font-weight: bold;
}

.project-goals {
    padding: 30px;
    color: black;
    font-weight: bold;
}
.project-goals-title{
    background-color:#7349E0;
    color: white;
    width: 800px;
    text-align:center;
    align-items: center;
    display:flex;
    flex-direction: row;
    height:100%;
    font-size: 30px;
    padding: 20px;

}

.project-trans-wrap{
    width:100%;
    align-items:stretch;
    display:flex;
}

.project-blocks {
    
    padding: 20px;
  
}
.flex-parent {
    display:flex;
    align-content: flex-start;
    justify-content: left;
}
.right-side {
    position:absolute;
    left:400px;
    top:0px;
    text-align: left;
    width:300px;
    border:1px solid #7349E0;
    padding:20px;
}
.title {
    border-bottom:4px solid #7349E0;
    color:#7349E0;
    padding:20px 10px;
    text-align:center;
    font-size:30px;
}
.project-blocks ul {
    list-style-type: none;
    margin:100px 10px;
    width:50%;
    display:inline-block;
}
.tabs-wrap{
    margin:100px 10px;
    display:inline-block;
    height:500px;
}
.project-blocks li{
    background: #fff;
    height: 150px;
    text-align: center;
    transform:rotate(45deg);
    width:150px;
    margin-top:-30px;
    border:1px solid #9c9c9c;
    box-shadow: 10px 10px  4px rgba(100,100,100,0.5);
}

.project-blocks li:nth-child(even) {
    margin-left:120px;
}

.item-count {
    color: #333;
    display: table-cell;
    height: 150px;
    transform: rotate(-45deg);
    vertical-align: middle;
      width:150px;
  }
.item-count a{
    color:#7349E0;
    font-size:14px;

}
.project-donations {
    border-left:1px solid #646464;
    flex-grow: 1;
    padding:20px;
}
.section{
    width:50%;
}
.see-more {
    padding:20px;
    text-align:center;
    border:1px solid #7349E0;
    width:100%;
    display:block;
}

.project-donations ul{
    list-style-type:none;
    padding:0px;
    margin-left:0px;
}

.project-donations li{
    margin-left:0px;
    padding:10px;
    border-bottom:1px solid #7349E0;
}

.donate-box{
    border:1px solid #7349E0;
    padding:20px;
    font-size:20px;
}
.donate-box h1{
    color:#7349E0;
    margin-bottom:10px;
}
.donate-box input[type=number]{
    height: 100%;
    border:none;
    font-size:20px;
    color:#7349E0;
    height:30px;
    padding:20px;
}
.donation-wrap{
    display:flex;
    width:100%;
    min-height:100vh;
    justify-content:center;
    align-items: center;
    align-content: center;
}

.submit-donate{
    display:block;
    background-color:#7349E0;
    color:white;
    font-size:20px;
    border:none;
}