* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a,a:visited {
    text-decoration: none;
}
#header {
    height: 80px;
    background: white;
    align-items: center;
    display:flex;
    background-color: #7349E0;
    justify-content: right;
    opacity:0.8;
    position:fixed;
    width:100%;
    top:0px;
    z-index:100;
}
#header .solid{
    opacity:1;
}
#header ul {
    display:flex;
    color: white;
    font-size: 20px;
    text-decoration: none;
    height: 100%;
    list-style: none;
    align-items: center;
    font-weight: bold;
    
}

#header li, #header a{
    font-weight: normal;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    margin-right:10px;
}
#tab1 { letter-spacing:1px;visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab1 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all .7s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab2 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab2 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab3 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab3 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab4 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab4 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
 
#tab5 { visibility:hidden; opacity:0; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.show:focus + #tab5 { visibility:visible; opacity:1; -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }

.project-block {
    border-bottom: 1px solid #646464; 
    width:100%;
    padding: 40px;
    display:flex;
    align-items: center;
    color: white;
    align-content: stretch;
    height: 600px;
}
.project-block h1{
    color: #7349E0;
    margin-bottom: 20px;
}


.project-desc {
    color: white;
}

.project-donate-but {
    background-color: #7349E0;
    width: 150px;
    padding:20px;
    text-align: center;
    color: white;
    text-decoration:none;
    font-weight: bold;
}

.project-goals {
    padding: 30px;
    color: black;
    font-weight: bold;
}
.project-goals-title{
    background-color:#7349E0;
    color: white;
    width: 800px;
    text-align:center;
    align-items: center;
    display:flex;
    flex-direction: row;
    height:100%;
    font-size: 30px;
    padding: 20px;

}

.project-trans-wrap{
    width:100%;
    align-items:stretch;
    display:flex;
}

.project-blocks {
    
    padding: 20px;
  
}
.flex-parent {
    display:flex;
    align-content: flex-start;
    justify-content: left;
}
.right-side {
    position:absolute;
    left:400px;
    top:0px;
    text-align: left;
    width:300px;
    border:1px solid #7349E0;
    padding:20px;
}
.title {
    border-bottom:4px solid #7349E0;
    color:#7349E0;
    padding:20px 10px;
    text-align:center;
    font-size:30px;
}
.project-blocks ul {
    list-style-type: none;
    margin:100px 10px;
    width:50%;
    display:inline-block;
}
.tabs-wrap{
    margin:100px 10px;
    display:inline-block;
    height:500px;
}
.project-blocks li{
    background: #fff;
    height: 150px;
    text-align: center;
    transform:rotate(45deg);
    width:150px;
    /*box-shadow:6px 6px 0px  #7349E0;*/


border:1px solid #a6d4c6;
    margin-top:-30px;
    border:1px solid #9c9c9c;
}

/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0) rotate(45deg);
    transform: perspective(1px) translateZ(0) rotate(45deg);
    box-shadow:6px 6px 0px  white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
  }
 
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow:6px 6px 0px  #7349E0;
    top:-6px;
    -webkit-transform: scale(1.1) rotate(45deg);
    transform: scale(1.1) rotate(45deg);
    
  }
  .hvr-grow-shadow:hover .right-side{
    -webkit-transform: scale(1) ;
    transform: scale(1);    

  }
.project-blocks li:nth-child(even) {
    margin-left:120px;
}

.item-count {
    color: #333;
    display: table-cell;
    height: 150px;
    transform: rotate(-45deg);
    vertical-align: middle;
      width:150px;
  }

.item-count a{
    color:#7349E0;
    font-size:14px;

}
.project-donations {
    border-left:1px solid #646464;
    flex-grow: 1;
    padding:20px;
}
.section{
    width:50%;
}
.see-more {
    padding:20px;
    text-align:center;
    border:1px solid #7349E0;
    width:100%;
    display:block;
}

.project-donations ul{
    list-style-type:none;
    padding:0px;
    margin-left:0px;
}

.project-donations li{
    margin-left:0px;
    padding:10px;
    border-bottom:1px solid #7349E0;
}

.donate-box{
    border:1px solid #7349E0;
    padding:20px;
    font-size:20px;
}
.donate-box h1{
    color:#7349E0;
    margin-bottom:10px;
}
.donate-box input[type=number]{
    height: 100%;
    border:none;
    font-size:20px;
    color:#7349E0;
    height:30px;
    padding:20px;
}
.donate-box input[type=number]:focus{
    outline:none;
    border:none;
}
.donation-wrap{
    display:flex;
    width:100%;
    min-height:100vh;
    justify-content:center;
    align-items: center;
    align-content: center;
}

.submit-donate{
    display:block;
    background-color:#7349E0;
    color:white;
    font-size:20px;
    border:none;
    padding:10px 20px;
    width:100%;
}

/* From https://ianlunn.github.io/Hover/ Hover.css */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  #home-top-banner {
    position: relative;
    padding: 40px 12px 60px;
    width: 100%;
}


  #home-top-banner .rounded-box {
    border: 3px solid #7349E0;
    border-radius: 15px;
    width: 600px;
    position: relative;
    margin-top: 110px;
    margin-left: 45px;
    padding:20px;
  }
  #home-top-banner h1 {
    color: #7349E0;
    line-height: 50px;
  }
  #home-top-banner h2 {
    color: #7349E0;
    line-height: 30px;
  }
  #home-secondary-banner {
    position: relative;
    padding: 40px 0 40px 40px;
    font-size: 30px;
    text-align: left;
    line-height: 70px;
    background-color: #7349E0;
    opacity: .5;
}
#home-secondary-banner h1,h2 {
    opacity: 1;
    color: white;
}
#home-project-grid {
    padding-top: 40px;
}
.project-grid-item {
    position: relative;
    display: inline-block;
    width: 33%;
    padding-bottom: 40px;
}
.project-grid-item img {
    padding: 5%;
    width: 90%;
}
.project-grid-item p {
    text-align:center;
}
.transaction-box{
    border:1px solid #7349E0;
  
    font-size:20px;
}

.transaction-box h1{
    color:white;
    font-weight: bold;
    margin-bottom:10px;
    padding:20px;
    display:block;
    width:100%;
    background-color:#7349E0;

}
.transaction-box form{
    padding:20px 40px;
}
.transaction-box h2{
    font-size:24px;
    margin-bottom:10px;
    color:#7349E0;
    font-weight:bold;
    
}
.transaction-box input[type=number]{
    height: 100%;
    border:none;
    font-size:20px;
    color:#7349E0;
    height:30px;
    padding:20px;
    border-bottom:1px solid #7349E0;
}
.transaction-box input[type=number]:focus{
    outline:none;
   
}

.transaction-box input[type=text]{
    height: 100%;
    border:none;
    font-size:20px;
    color:#7349E0;
    height:30px;
    padding:20px;
    border-bottom:1px solid #7349E0;
}
.transaction-box input[type=text]:focus{
    outline:none;
}
#all-transactions-wrap h1{
    
}
#all-trans-title{
    width:100%;
    display:block;
    display:flex;
    align-items: center;
    padding:120px 40px 20px 40px;
    justify-content: center;

}
#all-transactions-wrap{
    width:100%;
    padding:10px 40px;
    display:flex;
    align-items: center;
    justify-content: center;

}

#all-transactions-wrap table{
    width:60%;
    border-spacing: 0px;
    border-collapse: separate;
}
#all-transactions-wrap th{
    background-color:#7349E0;
    color: white;
    vertical-align:center;
    padding:15px;
}
.row-1 {
    background-color:#7349E0;
    color: white;
    border-top:12px solid white;
    vertical-align:center;
    padding:15px;
}
#all-transactions-wrap td{
   padding:15px;
   
}


.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.thumbnail {
    max-width: 40%;
  }
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}