<!DOCTYPE html>
<head>
    <title>Founder Project</title>
</head>
<body>
        <h1>Project</h1>
        <p> ${{wallet.money}} </p>
        <form method="POST">
        		<label for="category">Category</label>
                <input type="text" name="category" />
                <br>
                <label for="amount">Amount</label>
                <input type="number" name="amount" />
                <br>
                <label for="receiver">Receiver</label>
                <input type="text" name="receiver" />
                <br>
                <input type="submit" value="Submit" />

        </form>
</body>
