<!DOCTYPE html>
<head>
    <title>Founder Project</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="header">
        <ul>
            <li>Project Luminary</li>
            <li><a class="hvr-underline-from-center" href="/">Home</a></li>
        </ul>
    </div>
    <div class="donation-wrap">
        <div class="transaction-box">
        <h1>Your Wallet Balance: <br><center>${{wallet.money}}</center> </h1> <p></p>
        <form method="POST">
            <h2>New Transaction</h2>
                <label for="category">Category</label>
                <input type="text" name="category" />
                <br>
                <label for="amount">Amount $</label>
                <input type="number" name="amount" />
                <br>
                <label for="receiver">Verified Merchant</label>
                <input type="text" name="receiver" />
                <p></p>
                <input type="submit" style="margin-top:20px;"class="submit-donate" value="Submit" />

        </form>
        </div>
    </div>
</body>
