<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <title>Contribute</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
        <div id="header">
            <ul>
                <li>Project {{id}}</li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <div class="donation-wrap">
            <div class="donate-box">
           <center><h1> Contribute to Luminary</h1>
           </center>             <form method="POST">
                <label for="money"> Enter amount: $</label>
                <input type="number" name="money"></input>
                <input type="submit" class="submit-donate" value="Submit"></input>
            </form>
        
    </div>
 
        </div>
	</body>
</html>
