<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
            <title>Luminary</title>
            <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        </head>
	<body>
        <div id="header">
            <ul>
                <li>Luminary</li>
                <li><a class="hvr-underline-from-center" href="/">Home</a></li>
                <li><a class="hvr-underline-from-center" href="{{ url_for('projectWithdraw', id=id.id - 1) }}">Withdraw from Project Luminary</a></li>
            </ul>
        </div>
        <div class="project-block" style="background-image:url({{url_for('static', filename='luminary.png')}})">
            <div class="project-desc">
                <h1>Luminary</h1>
                <p> hidsadisandkjsandjkaslndsjadsalndka hidsadisandkjsandjkas lndsjadsalndkahidsadisandkjsandjkaslndsjadsal ndkahidsadisandkjsandjkaslndsjadsalndkahidsadisandk jsandjkaslndsjadsalndka dsadasdsadsadsadsa</p>
                <br>
                <p> Funding: ${{contract.totalMoneyReceived}} / ${{contract.moneyExpected}} </p>
                <div class="w3-border">
                    <div class="w3-grey" style="height:24px;width:{{(contract.totalMoneyReceived / contract.moneyExpected) * 100}}%"></div>
                  </div>
            </div>
            {% if role == 'user' %}
            <a class="project-donate-but" href="{{ url_for('projectContribute', id=id.id) }}">Donate</a>
            {% elif role == 'founder' %}
            <a class="project-donate-but" href="{{ url_for('addTransaction') }}">Add Transaction</a>
            {% endif %}
        </div>
        <div class="project-block" style="padding:0px; height:400px;">
            <div class="project-goals-title">Our goals</div>
            <div class="project-goals">
                <p>doisahudljsandsaldnsalkd</p>
                <p>We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things
                        We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things
                        </p>
            </div>
        </div>
        <div class="project-trans-wrap">
            <div class="project-blocks">

                <div class="title">Our Transaction History - Verified by Blockchain technology</div>
                <section class="flex-parent">
                <ul>
                    {% for block in blockchain.blocks %}
                        {% if loop.index <= 5 %}
                    <li>
                        <div class="item-count">
                            <b>{{block.transaction.category}}</b><br>
                            {{block.timestamp}} <br>
                            ${{block.transaction.amount}}<br>
                            <a href="#show" class="show">show details</a>
                            {% if loop.index % 2 == 0 %}
                            <div class="right-side" id="tab{{loop.index}}" style="margin-top:calc(-120px * {{loop.index}} + 100px);margin-left:-120px">
                                {%else%}
                                <div class="right-side" id="tab{{loop.index}}" style="margin-top:calc(-120px * {{loop.index}} + 100px);">
                            {%endif%}


                                <b>{{block.transaction.category}}</b><br>
                                {{block.timestamp}} <br>
                                ${{block.transaction.amount}}<br>
                                To: {{block.transaction.receiver}} <br>
                                From: {{block.transaction.sender}} <br>
                            </div>
                        </div>
                    </li>
                    {%endif%}
                    {% endfor %}
                </ul>
            </section>
            <a class="see-more" href="{{url_for('transactions', id=id)}}">See more transactions</a>
            </div>
            <div class="project-donations">
                <div class="title">Recent Donations</div>
                <ul>
                    {% for donations in recentDonations%}
                    <li>${{donations}}<br> Anonymous
                    {%endfor%}
                    </li>
                </ul>

            </div>
        </div>
    </body>
</html>
