<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
            <title>Luminary</title>
            <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        </head>
	<body>
        <div id="header">
            <ul>
                <li>Luminary</li>
                <li><a class="hvr-underline-from-center" href="/">Home</a></li>
                <li><a class="hvr-underline-from-center" href="{{ url_for('projectWithdraw', id=id.id - 1) }}">Withdraw from Project Luminary</a></li>
            </ul>
        </div>
        <div class="project-block" style="height:100vh;background-image:url({{url_for('static', filename='luminary.png')}})">
            <div class="project-desc">
                <h1>Luminary</h1>
                <p> We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things We want money to do a lot of things and buy things</p>
                <br>
                <h3><p> Funding: ${{contract.totalMoneyReceived}} / ${{contract.moneyExpected}} </p></h3>
                <div class="w3-border" style="border:none !important;background-color: #EDEDED;">
                    <div class="w3-green" style="height:24px;width:{{(contract.totalMoneyReceived / contract.moneyExpected) * 100}}%"></div>
                      
                </div>
                <div class="w3-border" style="border:none !important; background-color:#E76E03  ">
                    <div class="w3-container w3-green" style="width:{{contract.stages[1] * 100}}%; height:20px; padding-left:0px; background-color:#FC8720  !important ">
                    </div> 
                    <div class="w3-container w3-red" style="margin-top:-20px;width:{{contract.stages[0] * 100}}%; background-color:#FC9F4C   !important; height:20px;">
                    </div> 
                </div>
                 

                    
                <br>
                <h3>
                <p> Round 1: {{contract.stages[0] * 100}}% Funding Unlocked (${{contract.stages[0] * contract.moneyExpected}}0)</p>
                <p> Round 2: {{contract.stages[1] * 100}}% Funding Unlocked (${{contract.stages[1] * contract.moneyExpected}}0)</p>
                <p> Round 3: {{contract.stages[2] * 100}}% Funding Unlocked (${{contract.stages[2] * contract.moneyExpected}}.00)</p>
                </h3>
            </div>
            
                {% if role == 'user' %}
                <a class="project-donate-but" href="{{ url_for('projectContribute', id=id.id) }}">Donate</a>
                {% elif role == 'founder' %}
                <a class="project-donate-but" href="{{ url_for('addTransaction') }}">Add Transaction</a>
                {% endif %}
            </div>
        <div class="project-block" style="padding:0px; height:400px;">
            <div class="project-goals-title">Our Goal</div>
            <div class="project-goals">
                <p>
                    To create a platform where investors can see where their money goes
                </p>
                <p>
                    To help investors hold project owners accountable to spending their funds right
                </p>
                <p>One of the most iconic scandals in recent years have been kickstarters spending their funds incorrectly.



                    Over $720,000 USD disappearing overnight
                    
                    </p>
            </div>
        </div>
        <div class="project-trans-wrap">
            <div class="project-blocks">

                <div class="title">Our Transaction History - Verified by Blockchain technology</div>
                <section class="flex-parent" style="min-height:600px">
                <ul>
                    {% for block in blockchain.blocks %}
                        {% if loop.index <= 5 %}
                    <li class="hvr-grow-shadow">
                        <div class="item-count">
                            <a href="#show" class="show">
                            <b>{{block.transaction.category}}</b><br>
                            {{block.timestamp}} <br>
                            ${{block.transaction.amount}}<br>
                            </a>
                            {% if loop.index % 2 == 0 %}
                            <div class="right-side" id="tab{{loop.index}}" style="margin-top:calc(-120px * {{loop.index}} + 100px);margin-left:-120px">
                                {%else%}
                                <div class="right-side" id="tab{{loop.index}}" style="margin-top:calc(-120px * {{loop.index}} + 100px);">
                            {%endif%}
                                <b>{{block.transaction.category}}</b><br>
                                {{block.timestamp}} <br>
                                ${{block.transaction.amount}}<br>
                                To: {{block.transaction.receiver}} <br>
                                From: {{block.transaction.sender}} <br>
                            

                            <a href="#img1">
                                <img src="{{url_for('static', filename='receipt.png')}}" class="thumbnail">
                            </a>
                                      
                                      <!-- lightbox container hidden with CSS -->
                            </div>
                        </div>
                    </li>
                    {%endif%}
                    {% endfor %}
                </ul>
            </section>
            <a class="see-more" href="{{url_for('transactions')}}">See more transactions</a>
            </div>
            <div class="project-donations">
                <div class="title">Recent Donations</div>
                <ul>
                    {% for donations in recentDonations%}
                    <li>${{donations}}<br> Anonymous
                    {%endfor%}
                    </li>
                </ul>

            </div>
        </div>
        <a href="#_" class="lightbox" id="img1">
                <img src="{{url_for('static', filename='receipt.png')}}" class="thumbnail">
              </a>
    </body>
</html>
