<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <title>Transactions</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
        <div id="header">
            <ul>
                <li>Project {{id}}</li>
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('transactions', id=id)}}">Updates</a></li>
                <li><a href="{{ url_for('projectContribute', id=id) }}">Inventory</a></li>
                <li><a href="{{ url_for('index') }}">New Order</a></li>
            </ul>
        </div>
        <div id="all-trans-title"><h1>Transaction History</h1></div>
        <div id="all-transactions-wrap">
            
            <table>
                <tr>
                    <th >Timestamp</th>
                    <th> Block Hash </th>
                    <th> Transaction Details </th>
                </tr>
            {% for block in blockchain.blocks %}
                <tr> 
                    <td class="row-1">{{block.timestamp}}</td>
                    <td>{{block.hash}}</td>
                    <td>
                    <ul> 
                        <li>From: {{block.transaction.sender}} </li>
                        <li>To: {{block.transaction.receiver}} </li>
                        <li>Money Spent: ${{block.transaction.amount}} </li>
                        <li>Category: {{block.transaction.category}} </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </table>

        </div>
	</body>
</html>
