<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <title>Contribute</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
        <div id="header">
            <ul>
                <li>Project {{id}}</li>
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('transactions', id=id)}}">Updates</a></li>
                <li><a href="{{ url_for('projectContribute', id=id) }}">Inventory</a></li>
                <li><a href="{{ url_for('index') }}">New Order</a></li>
            </ul>
        </div>
        <div class="donation-wrap">
            <div class="donate-box">
                <h1> Contribute to Project: {{ project }} </h1>
                <form method="POST">
                    <label for="money"> Enter amount to withdraw: $</label>
                    <input type="number" name="money"></input>
                    <input type="submit" class="submit-donate" value="Submit"></input>
                </form>
            </div>
        </div>
	</body>
</html>
